.header {
    max-width: 1045px;
    height: 86px;
    background-color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    &__logo {
        width: 220px;
        height: 86px;
        float: left;
        height: 100%;
        position: relative;
        margin-right: 125px;
        margin-left: 10px;
        @media screen and (max-width: 1050px) {
            margin-right: 25px;
        }
        @media screen and (max-width: 930px) {
            margin-left: 70px;
        }
        @media screen and (max-width: 550px) {
            margin-left: 10px;
        }
        &-img {
            fill: black;
            position: absolute;
            left: 0;
            top: 12%;
            width: 40px;
            transition: transform .6s;
            transform: rotate(0deg);
            @media screen and (max-width: 930px) {
                animation: pulse 1s 2;
                cursor: pointer;
            }
            &--opened {
                transition: transform .6s;
                transform: rotate(90deg);
                animation: pulse paused;
            }
        }
        &-title {
            @include nunito(32px, 400, 77px);
            color: #6d6e70;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__mainmenu {
        float: left;
    }
    &__button {
        padding: 10px 35px;
        border-radius: 18%/50%;
        color: #fff;
        @include opensans(13px, 600, normal);
        background-color: $prim;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        transition: text-shadow .6s, box-shadow .4s;
        &:hover {
            text-shadow: 2px 2px 2px #222;
            box-shadow: inset 2px 2px 15px 0px rgba(0, 0, 0, 0.3);
        }
        @media screen and (max-width: 550px) {
            padding: 20px 10px;
        }
    }
}

.mainmenu {
    @media screen and (max-width: 930px) {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0px;
        overflow: hidden;
        width: 100%;
        z-index: 5;
        transition: height .5s;
    }
    &__item {
        color: #666666;
        @include opensans(13px, 600, 86px);
        float: left;
        margin-right: 30px;
        @media screen and (max-width: 930px) {
            float: none;
            @include opensans(40px, 700, 40px);
            padding: 10px;
            background-color: $prim;
            margin-right: 0px;
            border-bottom: 1px solid #fff;
        }
    }
    &__link {
        transition: text-shadow .6s, box-shadow .4s;
        &:hover {
            text-shadow: 1px 1px 1px #222;
        }
        &:visited {
            color: #666666;
            @media screen and (max-width: 930px) {
                color: #fff;
            }
        }
    }
}

.mainmenu_box {}