.jumbo {
    padding-top: 170px;
    position: relative;
    color: #fff;
    min-height: 570px;
    background-image: linear-gradient( rgba(10, 30, 10, .2), rgba(30, 20, 10, .3)), url('../img/house.png');
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        text-align: center;
        text-shadow: 2px 2px 5px #555;
        @include opensans(3.1rem,
        600,
        77px);
    }
    &__subtitle {
        text-align: center;
        text-shadow: 2px 2px 5px #111;
        @include opensans(2.2rem,
        400,
        77px);
    }
    &__button {
        margin: 50px auto;
    }
    &__arrow {
        height: 20px;
        width: 13px;
        position: absolute;
        background-image: url('../img/arrow.png');
        background-repeat: no-repeat;
        background-size: cover;
        top: 85%;
        transition: transform .4s;
        cursor: pointer;
        &--left {
            transform: scale(-1, 1);
            right: 14%;
            &:hover {
                transform: scale(-1.2, 1.2);
            }
        }
        &--right {
            right: 10%;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.button {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    &--big {
        border-radius: 15px;
        font-size: 20px;
        line-height: 77px;
        background-color: $prim;
        width: 250px;
        cursor: pointer;
        transition: text-shadow .6s, box-shadow .4s;
        &:hover {
            text-shadow: 2px 2px 2px #222;
            box-shadow: inset 2px 2px 15px 0px rgba(0, 0, 0, 0.3);
        }
    }
}