<section class="find">
    <div class="find__wrapper clearfix">
        <div class="find__item">
            <div class="find__item-imgbox">
                <img src="img/lamp.png" alt="Find properties" class="find__item-img">
            </div>
            <h3 class="find__item-title">find properties</h3>
            <p class="find__item-text">Sign up to browse the portfolio. Your journey to becoming a real estate baron starts here.</p>
            <div class="find__item-button button button--small button--casual">Become A Member</div>
        </div>
        <div class="find__item">
            <div class="find__item-imgbox">
                <img src="img/wallet.png" alt="Find properties" class="find__item-img">
            </div>
            <h3 class="find__item-title">find buyers</h3>
            <p class="find__item-text">Sign up to browse the portfolio. Your journey to becoming a real estate baron starts here.</p>
            <div class="find__item-button button button--small button--prim">Submit Your Project</div>
        </div>
    </div>
</section>