<header class="header">
    <div class="header__logo">
        <img src="img/logo.svg" alt="" class="header__logo-img">
        <h2 class="header__logo-title">crowdme</h2>
    </div>

    <nav class="header__mainmenu mainmenu">
        <ul class="mainmenu_box">
            <li class="mainmenu__item">
                <a href="" class="mainmenu__link">home</a>
            </li>
            <li class="mainmenu__item">
                <a href="" class="mainmenu__link">how it works</a>
            </li>
            <li class="mainmenu__item">
                <a href="" class="mainmenu__link">discover a project</a>
            </li>
            <li class="mainmenu__item">
                <a href="" class="mainmenu__link">blog</a>
            </li>
            <li class="mainmenu__item">
                <a href="" class="mainmenu__link">find out more</a>
            </li>
        </ul>
    </nav>
    <div class="header__button">login</div>
</header>