<section class="presentation">
    <img src="img/ball.png" alt="" class="presentation__img">
    <h1 class="presentation__title">Our work is the presentation of our capabilities</h1>
    <p class="presentation__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
    <p class="presentation__description">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <div class="presentation__slide-block slide-block">
        <div class="slide-block__titles clearfix">
            <h3 class="slide-block__title slide-block__title--active" data-number="1">Simple</h3>
            <h3 class="slide-block__title" data-number="2">Transparent</h3>
            <h3 class="slide-block__title" data-number="3">Collaborative</h3>
        </div>
        <div class="slide-block__gallery">
            <div class="slide-block__gallery-item gallery-item">
                <img src="img/glasses.png" alt="" class="gallery-item__img">
                <h4 class="gallery-item__title">1111Browse projects, like booking a hotel online !</h4>
                <p class="gallery-item__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro voluptatibus quis dolores ut perspiciatis sunt, doloremque pariatur sapiente unde! Possimus quo nostrum a recusandae at consequatur sed voluptatem nam. Totam adipisci corporis
                    assumenda amet labore quod fuga impedit sapiente! Culpa!Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et do lore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="slide-block__gallery-item gallery-item">
                <img src="img/glasses.png" alt="" class="gallery-item__img">
                <h4 class="gallery-item__title">22222Browse projects, like booking a hotel online !</h4>
                <p class="gallery-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et do lore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="slide-block__gallery-item gallery-item">
                <img src="img/glasses.png" alt="" class="gallery-item__img">
                <h4 class="gallery-item__title">33333Browse projects, like booking a hotel online !</h4>
                <p class="gallery-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et do lore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>


        </div>
    </div>
</section>